*{
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*::before, *::after{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.code-wrapper {
    flex: 1;
    height: 50%;
    padding: 10px;
}
.preview-wrapper {
    flex: 1;
    height: 50%;
}
#code {
    overflow: hidden;
    height: 100%;
}
